useDynLib( mrft )
exportPattern("^[[:alpha:]]+")

#importFrom(): import selected functions (including S4 generics).
importFrom( "oro.nifti", "readNIfTI" )
importFrom( "oro.nifti", "writeNIfTI" )
importFrom( "oro.nifti", "nifti" )
importFrom( "stats", "kmeans" )
importFrom( "stats", "predict" )
importFrom( "stats", "smooth.spline" )